<app-navigation></app-navigation>
<main>
  <section id="home"  appViewportAnimation>
    <app-home></app-home>
  </section>
  <section id="about"  appViewportAnimation>
    <app-about></app-about>
  </section>
  <section id="portfolio"  appViewportAnimation>
    <app-portfolio></app-portfolio>
  </section>
  <section id="resume" appViewportAnimation>
    <app-resume></app-resume>
  </section>
  <section id="contact"  appViewportAnimation>
    <app-contact></app-contact>
  </section>
</main>
<app-footer></app-footer>
